{% extends 'base.html.twig' %}

{% block body %}
<div class="iq-breadcrumb-one  iq-bg-over " style="background-image: url({{asset('images/about/bg_image_about.jpg')}});">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
               <h2 class="title">Politique de confidentialité</h2>
               <ol class="breadcrumb main-bg">
                  <li class="breadcrumb-item">
                     <a href="{{path('main_page')}}">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Politique de confidentialité</li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
</div>
   <!-- mastermind start -->
   <main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="iq-privacy-policy">
                    <p class="text-center my-3 mb-5">
                        JStream reconnaît l'importance de la transparence et de la protection des droits de ses utilisateurs. 
                        Dans cet esprit, nous sommes en train de rédiger une politique d'utilisation complète qui énonce les règles et les directives à suivre lors de l'utilisation de notre site web et de nos services. Cette politique d'utilisation vise à garantir que tous les utilisateurs comprennent les attentes, les droits et les responsabilités liés à l'utilisation de JStream. Elle abordera des sujets tels que les conditions d'accès et d'utilisation de notre plateforme, les droits de propriété intellectuelle, la confidentialité des données, les règles de conduite et les sanctions en cas de non-respect des politiques. Notre objectif est de créer un environnement sûr, respectueux et agréable pour tous les utilisateurs de JStream.
                        Nous vous encourageons à consulter régulièrement notre page de politique d'utilisation pour vous tenir informé des dernières mises à jour et des changements éventuels. 
                        Votre compréhension et votre collaboration sont essentielles pour assurer une expérience positive sur notre plateforme.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="iq-privacy-policy">
                    <div class="mb-3">
                        <h4 class="mb-3">1. Nos conditions d'utilisations</h4>
                        <p class="my-3">En utilisant le site web de JStream, vous acceptez les présentes conditions d'utilisation. 
                            Vous vous engagez à utiliser nos services conformément aux lois et réglementations applicables, ainsi qu'à respecter les droits des autres utilisateurs. Vous ne pouvez pas utiliser notre site pour diffuser du contenu illégal, offensant, diffamatoire, ou qui enfreint les droits de propriété intellectuelle. Vous êtes entièrement responsable de toutes les activités réalisées via votre compte JStream, y compris la confidentialité de votre identifiant et de votre mot de passe. Nous nous réservons le droit de suspendre ou de résilier votre compte en cas de non-respect des présentes conditions d'utilisation. 
                            Nous nous efforçons de fournir des services de haute qualité, mais nous ne pouvons garantir leur disponibilité continue et sans erreur.
                            Nous nous dégageons de toute responsabilité découlant de l'utilisation de notre site ou de toute interruption de service. 
                            En utilisant JStream, vous consentez également à notre politique de confidentialité.
                        </p><br>
                    </div>
                </div>
            </div>    
        </div>
 </main>
   <!-- Main container end -->
{% endblock %}