{% extends 'base.html.twig' %}

{% block body %}

<section class="m-profile">
    <div class="container">
        <h4 class="main-title mb-4">Plan d'abonnement</h4>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="sign-user_card">
                    <div class="table-responsive pricing pt-2">
                        <table id="my-table" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center prc-wrap"></th>
                                    <th class="text-center prc-wrap">
                                        <div class="prc-box">
                                            <div class="h3 pt-4 text-white">Gratuit<small></small></div>
                                            <span class="type">Basic</span>
                                        </div>
                                    </th>
                                    <th class="text-center prc-wrap card-plan">
                                        <div class="prc-box">
                                            <div class="h3 pt-4 text-white">2,99€<small> / mois</small></div>
                                            <span class="type">Standard</span>
                                        </div>
                                    </th>
                                    <th class="text-center prc-wrap card-plan">
                                        <div class="prc-box active">
                                            <div class="h3 pt-4 text-white">5,99€<small> / mois</small></div>
                                            <span class="type">Premium</span>
                                        </div>
                                    </th>
                                    <th class="text-center prc-wrap">
                                        <div class="prc-box">
                                            <div class="h3 pt-4 text-white">9,99€<small> / mois</small></div>
                                            <span class="type">Platinum</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row">Accès au catalogue d'animé</th>
                                    <td class="text-center child-cell">Sélection limitée</td>
                                    <td class="text-center child-cell">
                                        80% du catalogue
                                    </td>
                                    <td class="text-center child-cell active">
                                        90% du catalogue
                                    </td>
                                    <td class="text-center child-cell">
                                        Catalogue complet
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">Nombre d'écran(s)
                                    </th>
                                    <td class="d-felx justify-content-center row text-center child-cell" style="flex-direction: column;">
                                        1 écran
                                    </td>
                                    <td class="text-center child-cell">
                                        2 écrans
                                    </i>
                                    </td>
                                    <td class="text-center child-cell active">
                                        4 écrans
                                    </td>
                                    <td class="text-center child-cell">
                                        4 écrans
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">Visionnage</th>
                                    <td class="text-center child-cell">
                                        {# <i class="ri-close-line i_close"></i> #}
                                        <span style="font-size: 100%;">5 épisodes / jours</span>
                                    </td>
                                    <td class="text-center child-cell">
                                        {# <i class="ri-close-line i_close"></i> #}
                                        <span style="font-size: 100%;">Illimité</span>
                                    </td>
                                    <td class="text-center child-cell active">
                                        <span style="font-size: 100%;">Illimité</span>
                                        {# <i class="ri-check-line ri-2x"></i> #}
                                    </td>
                                    <td class="text-center child-cell">
                                        <span style="font-size: 100%;">Illimité</span>
                                        {# <i class="ri-check-line ri-2x"></i> #}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">Publicité</th>
                                    <td class="text-center child-cell"><i class="ri-close-line i_close"></i></td>
                                    <td class="text-center child-cell"><i class="ri-close-line i_close"></i></td>
                                    <td class="text-center child-cell active"><i class="ri-check-line ri-2x"></i></td>
                                    <td class="text-center child-cell"><i class="ri-check-line ri-2x"></i></td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">Qualité Vidéo</th>
                                    <td class="text-center child-cell">SD (480p)</td>
                                    <td class="text-center child-cell">HD (720p)</td>
                                    <td class="text-center child-cell active">FHD (1080p)</td>
                                    <td class="text-center child-cell">4K (4096p)</td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">Assistance Technique</th>
                                    <td class="text-center child-cell">Réponse sous 2j ouvrés</td>
                                    <td class="text-center child-cell">Réponse sous 2j ouvrés</td>
                                    <td class="text-center child-cell active">Réponse sous 24H</td>
                                    <td class="text-center child-cell">Réponse immédiate par Chatbot</td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        {# <button class="btn btn-hover mt-3" id="checkout-button">Acheter</button> #}
                                    </td>
                                    {% for aPlan in Plan %}
                                    <td class="text-center">
                                        <a href="{{aPlan.paymentLink}}" target="_blank">
                                            <button class="btn btn-hover mt-3" id="checkout-button">Acheter</button>
                                        </a>
                                    </td>
                                    {% endfor %}
                                    {# <td class="text-center">
                                        <a href="https://buy.stripe.com/test_5kAbLyebXgGkbwQ4gg">
                                            <button class="btn btn-hover mt-3" id="checkout-button">Acheter</button>
                                        </a>
                                    </td> #}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{#{% block javascripts %}
//  <script type="text/javascript">
//       // Create an instance of the Stripe object with your publishable API key
//       var stripe = Stripe('pk_test_51I1DJ7GOPvnmck0UbFU2Rff4h6llZLoxdHuVJHRcx195mskTVTgb1LbDO2b4llYt5LPtGSpbX6kQlxcPWKXQANSs00aIjxmQ1W');
//       var checkoutButton = document.getElementById('checkout-button');

//       checkoutButton.addEventListener('click', function() {
//         // Create a new Checkout Session using the server-side endpoint you
//         // created in step 3.
//         fetch('/create-checkout-session', {
//           method: 'POST',
//         })
//         .then(function(response) {
//           return response.json();
//         })
//         .then(function(session) {
//           return stripe.redirectToCheckout({ sessionId: session.id });
//         })
//         .then(function(result) {
//           // If `redirectToCheckout` fails due to a browser or network
//           // error, you should display the localized error message to your
//           // customer using `error.message`.
//           if (result.error) {
//             alert(result.error.message);
//           }
//         })
//         .catch(function(error) {
//           console.error('Error:', error);
//         });
//       });
//     </script>
{% endblock %} #}