<footer class="mb-0">
    <div class="container-fluid">
       <div class="block-space">
          <div class="row">
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="{{ path('main_page') }}">Catalogue d'Animé</a></li>
                   <li><a href="{{ path('main_page') }}">Forum</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="https://lecvdejeremie.000webhostapp.com/index-1.html#legal">Mentions Légales</a></li>                        
                   <li><a href="https://lecvdejeremie.000webhostapp.com">Informations complémentaire</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="https://lecvdejeremie.000webhostapp.com">A propos de moi</a></li>
                   <li><a href="https://lecvdejeremie.000webhostapp.com">Contactez moi</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-12 r-mt-15">
                <div class="d-flex">
                   <a href="https://www.instagram.com/universanim/" class="s-icon">
                   <i class="ri-instagram-line"></i>
                   </a>
                   <a href="https://www.youtube.com/channel/UCSmzz4q91iK2p1lpZQVNeoQ" class="s-icon">
                <i class="ri-youtube-line"></i>
                </a>
                <a href="https://twitter.com/Zone_Anime10" class="s-icon">
                <i class="ri-twitter-line"></i>
                </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="copyright py-2">
       <div class="container-fluid">
          <p class="mb-0 text-center font-size-14 text-body">JEREM STREAM - 2021 Tout les droits sont réservés à Jérémie NGOYI ©</p>
       </div>
    </div>
 </footer>